
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: #f2f2f2;
    align-self: center;
    padding: 10px;
}

.date-time {
    font-size: 0.5em;
    font-weight: bold;
    font-family: sans-serif ,Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(255, 25, 25, 0.708);
    cursor: default;
}

.app-heading {
    font-size: 2em;
    font-weight: bold;
    font-family: sans-serif ,Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.708);
    padding: 7px;
}

.t-a-c {
    text-align: center;
}

.form-control{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.form-control label {
    font-size: 0.7em;
    font-weight: bold;
    font-family: sans-serif ,Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.708);
    padding: 7px;
}

.form-control input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: .8em;
    font-weight: bold;
    font-family: sans-serif ,Verdana, Geneva, Tahoma, sans-serif;
}

.form-control input:focus {
    outline: none;
    border: 1px solid #ff8c00;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.form-control .btn {
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    background-color: #ff8c00;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif ,Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.form-control .btn:hover {
    background-color: #ffbb33;
    transition: .5s;
}

.book-table{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

thead {
    background-color: #ffcf94;
    font-size: 0.8em;
    font-weight: bold;
    font-family: sans-serif ,Verdana, Geneva, Tahoma, sans-serif;
}

thead th {
    padding: 5px;
}

.btn-danger {
    background-color: #ff4441;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: bold;
    font-family: sans-serif ,Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    padding: 5px;
    min-width: 60px;
}

.btn-danger:hover {
    background-color: #ff6666;
    transition: .5s;
}

.alert {
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif ,Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.alert-danger {
    background-color: #ff4441;
}

.alert-success {
    background-color: #00C851;
}

.alert-info {
    background-color: orange;
}


.made-by {
    font-size: 0.7em;
    margin: 0;
    padding: 0;
}

.made-by > p > a {
    color: rgb(39, 33, 28);
    text-decoration: none;
}

.made-by > p > a:hover {
    color: rgb(253, 4, 4);
    text-decoration: underline;
    transition: .3s ;
}